# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Ignorer toute la configuration JetBrains
.idea/
*.iml
.claude/

# Dossiers de build éventuels
dist/
out/
.cache/
.tmp/

.DS_Store
node_modules/

css/bootstrap*
js/bootstrap*

ue/*
!ue/Attestation_Reussite_GLG203.pdf
!ue/Attestation_Reussite_GLG204.pdf
!ue/Attestation_Reussite_MVA003.pdf
!ue/Attestation_Reussite_RCP105.pdf
!ue/Attestation_Succes_ANG100.pdf
!ue/Attestation_Succes_ENG221.pdf
!ue/Attestation_Succes_GFN106.pdf
!ue/Attestation_Succes_MUX102.pdf
!ue/Attestation_Succes_MVA913.pdf
!ue/Attestation_Succes_NFE204.pdf
!ue/Attestation_Succes_NFE205.pdf
!ue/Attestation_Succes_NSY205.pdf
!ue/Attestation_Succes_NSY206.pdf
!ue/Attestation_Succes_NSY208.pdf
!ue/Attestation_Succes_SMB111.pdf
!ue/Attestation_Succes_UTC501.pdf
!ue/Attestation_Success_STA001.pdf
!ue/attestation_secnumacademie.pdf
!ue/Extrait_Releve_Toulouse_NSY107.pdf
!ue/Extrait_Releve_Toulouse_NFE103.pdf
!ue/Extrait_Releve_Toulouse_RSX101.pdf
!ue/Extrait_Releve_Toulouse_EME102.pdf
!ue/Extrait_Releve_Toulouse_TET102.pdf
