# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Ignorer toute la configuration JetBrains
.idea/
*.iml

# Dossiers de build éventuels
dist/
out/
.cache/
.tmp/

.DS_Store
node_modules/

css/bootstrap*
js/bootstrap*
